h1{
  text-align: center;
  background-color: #AA5588;
  padding-bottom: 50px;
  color: #DCDCDC;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
  padding-top: 20px;
  font-family: Lucida;
}

#main{
  text-align: center;
  background-color: #FAFAFA;
  padding-top: 50px;
  margin-left: 20px;
  padding-bottom: 500px;
}

#main-inner{
  background-color: #EEEEEE;
  padding-bottom: 300px;
  margin-left: 20px;
  margin-right: 20px;
  border: 2px solid purple;
}

#both{
  background-color: #CCCCCC;
  padding-bottom: 30px;
  padding-top: 30px;

}

label{
  font-family: Lucida Sans Typewriter;
}

#pyramid{
  display:table;
  margin: 0 auto;
  text-align: right;
  font-family: Lucida;
  font-size: 20px
}
